<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css">
   <title>TestSite</title>

</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="index.js" defer></script>
	<div id="app">
		<div style="margin-bottom: -200px;">
			<header>
				<nav-comp>
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
						</li>
					</ul>
					<search v-bind:value="searchline" @input="onSearchComponent"></search>
					<div class="actions">
						<custom-button  class="btn btn-outline-dark" @click="setVisionCard" button_name='Корзина'> </custom-button>
					</div>
				</nav-comp>
			</header>
			<main-comp >
			<div class="row gy-4"  style="margin-top: 50px"  v-if="items.length" >
            	<goods-item v-for="item in items" :item=item> </goods-item>
            </div>
            <div class="summ" >
             	<p> Сумма всех товаров: {{get_total}} </p>
             	<h3> {{searchline }}</h3>
            </div>
			</main-comp>
		</div>
		<basket v-if="isVisibleCart">
			<basket-item @my_click="setVisionCard"> </basket-item>
		</basket>
	</div>
</body>
</html>